html{font-family:monospace;background:#8a8a8a;padding-top:2rem}
#ui{font-size:1.33rem;max-width:28rem;margin:5rem auto 0 auto;border-left:1.25rem solid black;border-bottom:1.25rem solid black;padding:1.25rem 2.25rem}
#theme{text-align:center;padding:2rem 0 3rem 0}
#theme::before{font-size:2.25rem}
html,p,#ui{transition-duration:0.42s;transition-timing-function:linear}
#github{margin-top:3rem;text-align:center}

#wheel {
  height: 400px;
  width: 400px;
  margin: auto;
}

#wheel>svg {
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  #wheel {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 400px) {
  #wheel {
    height: 300px;
    width: 300px;
  }
}

.vimspectr0-dark #theme::before{content:"vimspectr0-dark"}
.vimspectr0-dark {background:#211111}
.vimspectr0-dark #ui{border-left-color:#3b2020}
.vimspectr0-dark #comment{color:#875b5b}
.vimspectr0-dark #github a{color:#875b5b}
.vimspectr0-dark #ui{border-bottom-color:#a67979}
.vimspectr0-dark {color:#a67979}
.vimspectr0-dark #col08{color:#bf4f3f}
.vimspectr0-dark #col09{color:#bf6e3f}
.vimspectr0-dark #col0A{background:#bfa03f}
.vimspectr0-dark #col0B{color:#3e9449}
.vimspectr0-dark #col0C{color:#3e9488}
.vimspectr0-dark #col0D{color:#4886ab}
.vimspectr0-dark #col0E{color:#9673ab}
.vimspectr0-dark #col0F{color:#b57988}
.vimspectr0-dark #col0A{color:#211111}
.vimspectr0-light #theme::before{content:"vimspectr0-light"}
.vimspectr0-light {background:#fff5f5}
.vimspectr0-light #ui{border-left-color:#f2dcdc}
.vimspectr0-light #comment{color:#a67979}
.vimspectr0-light #github a{color:#a67979}
.vimspectr0-light #ui{border-bottom-color:#875b5b}
.vimspectr0-light {color:#875b5b}
.vimspectr0-light #col08{color:#eb4128}
.vimspectr0-light #col09{color:#eb7028}
.vimspectr0-light #col0A{background:#ebbb28}
.vimspectr0-light #col0B{color:#289e37}
.vimspectr0-light #col0C{color:#289e8e}
.vimspectr0-light #col0D{color:#3292c9}
.vimspectr0-light #col0E{color:#9f54c9}
.vimspectr0-light #col0F{color:#e05e7f}
.vimspectr0-light #col0A{color:#3b2020}
.vimspectr30-dark #theme::before{content:"vimspectr30-dark"}
.vimspectr30-dark {background:#1c150e}
.vimspectr30-dark #ui{border-left-color:#33271c}
.vimspectr30-dark #comment{color:#7a6652}
.vimspectr30-dark #github a{color:#7a6652}
.vimspectr30-dark #ui{border-bottom-color:#998470}
.vimspectr30-dark {color:#998470}
.vimspectr30-dark #col08{color:#bf4f3f}
.vimspectr30-dark #col09{color:#bf6e3f}
.vimspectr30-dark #col0A{background:#bfa03f}
.vimspectr30-dark #col0B{color:#3e9449}
.vimspectr30-dark #col0C{color:#3e9488}
.vimspectr30-dark #col0D{color:#4886ab}
.vimspectr30-dark #col0E{color:#9673ab}
.vimspectr30-dark #col0F{color:#b57988}
.vimspectr30-dark #col0A{color:#1c150e}
.vimspectr30-light #theme::before{content:"vimspectr30-light"}
.vimspectr30-light {background:#fffaf5}
.vimspectr30-light #ui{border-left-color:#ede2d8}
.vimspectr30-light #comment{color:#998470}
.vimspectr30-light #github a{color:#998470}
.vimspectr30-light #ui{border-bottom-color:#7a6652}
.vimspectr30-light {color:#7a6652}
.vimspectr30-light #col08{color:#eb4128}
.vimspectr30-light #col09{color:#eb7028}
.vimspectr30-light #col0A{background:#ebbb28}
.vimspectr30-light #col0B{color:#289e37}
.vimspectr30-light #col0C{color:#289e8e}
.vimspectr30-light #col0D{color:#3292c9}
.vimspectr30-light #col0E{color:#9f54c9}
.vimspectr30-light #col0F{color:#e05e7f}
.vimspectr30-light #col0A{color:#33271c}
.vimspectr60-dark #theme::before{content:"vimspectr60-dark"}
.vimspectr60-dark {background:#17170b}
.vimspectr60-dark #ui{border-left-color:#2b2b17}
.vimspectr60-dark #comment{color:#6e6e49}
.vimspectr60-dark #github a{color:#6e6e49}
.vimspectr60-dark #ui{border-bottom-color:#8c8c66}
.vimspectr60-dark {color:#8c8c66}
.vimspectr60-dark #col08{color:#bf4f3f}
.vimspectr60-dark #col09{color:#bf6e3f}
.vimspectr60-dark #col0A{background:#bfa03f}
.vimspectr60-dark #col0B{color:#3e9449}
.vimspectr60-dark #col0C{color:#3e9488}
.vimspectr60-dark #col0D{color:#4886ab}
.vimspectr60-dark #col0E{color:#9673ab}
.vimspectr60-dark #col0F{color:#b57988}
.vimspectr60-dark #col0A{color:#17170b}
.vimspectr60-light #theme::before{content:"vimspectr60-light"}
.vimspectr60-light {background:#fffff5}
.vimspectr60-light #ui{border-left-color:#ebebd5}
.vimspectr60-light #comment{color:#8c8c66}
.vimspectr60-light #github a{color:#8c8c66}
.vimspectr60-light #ui{border-bottom-color:#6e6e49}
.vimspectr60-light {color:#6e6e49}
.vimspectr60-light #col08{color:#eb4128}
.vimspectr60-light #col09{color:#eb7028}
.vimspectr60-light #col0A{background:#ebbb28}
.vimspectr60-light #col0B{color:#289e37}
.vimspectr60-light #col0C{color:#289e8e}
.vimspectr60-light #col0D{color:#3292c9}
.vimspectr60-light #col0E{color:#9f54c9}
.vimspectr60-light #col0F{color:#e05e7f}
.vimspectr60-light #col0A{color:#2b2b17}
.vimspectr90-dark #theme::before{content:"vimspectr90-dark"}
.vimspectr90-dark {background:#11170b}
.vimspectr90-dark #ui{border-left-color:#232e19}
.vimspectr90-dark #comment{color:#5e704b}
.vimspectr90-dark #github a{color:#5e704b}
.vimspectr90-dark #ui{border-bottom-color:#7c8f68}
.vimspectr90-dark {color:#7c8f68}
.vimspectr90-dark #col08{color:#bf4f3f}
.vimspectr90-dark #col09{color:#bf6e3f}
.vimspectr90-dark #col0A{background:#bfa03f}
.vimspectr90-dark #col0B{color:#3e9449}
.vimspectr90-dark #col0C{color:#3e9488}
.vimspectr90-dark #col0D{color:#4886ab}
.vimspectr90-dark #col0E{color:#9673ab}
.vimspectr90-dark #col0F{color:#b57988}
.vimspectr90-dark #col0A{color:#11170b}
.vimspectr90-light #theme::before{content:"vimspectr90-light"}
.vimspectr90-light {background:#fafff5}
.vimspectr90-light #ui{border-left-color:#e0ebd5}
.vimspectr90-light #comment{color:#7c8f68}
.vimspectr90-light #github a{color:#7c8f68}
.vimspectr90-light #ui{border-bottom-color:#5e704b}
.vimspectr90-light {color:#5e704b}
.vimspectr90-light #col08{color:#eb4128}
.vimspectr90-light #col09{color:#eb7028}
.vimspectr90-light #col0A{background:#ebbb28}
.vimspectr90-light #col0B{color:#289e37}
.vimspectr90-light #col0C{color:#289e8e}
.vimspectr90-light #col0D{color:#3292c9}
.vimspectr90-light #col0E{color:#9f54c9}
.vimspectr90-light #col0F{color:#e05e7f}
.vimspectr90-light #col0A{color:#232e19}
.vimspectr120-dark #theme::before{content:"vimspectr120-dark"}
.vimspectr120-dark {background:#0d1a0d}
.vimspectr120-dark #ui{border-left-color:#192e19}
.vimspectr120-dark #comment{color:#4d734d}
.vimspectr120-dark #github a{color:#4d734d}
.vimspectr120-dark #ui{border-bottom-color:#6a916a}
.vimspectr120-dark {color:#6a916a}
.vimspectr120-dark #col08{color:#bf4f3f}
.vimspectr120-dark #col09{color:#bf6e3f}
.vimspectr120-dark #col0A{background:#bfa03f}
.vimspectr120-dark #col0B{color:#3e9449}
.vimspectr120-dark #col0C{color:#3e9488}
.vimspectr120-dark #col0D{color:#4886ab}
.vimspectr120-dark #col0E{color:#9673ab}
.vimspectr120-dark #col0F{color:#b57988}
.vimspectr120-dark #col0A{color:#0d1a0d}
.vimspectr120-light #theme::before{content:"vimspectr120-light"}
.vimspectr120-light {background:#f5fff5}
.vimspectr120-light #ui{border-left-color:#d8edd8}
.vimspectr120-light #comment{color:#6a916a}
.vimspectr120-light #github a{color:#6a916a}
.vimspectr120-light #ui{border-bottom-color:#4d734d}
.vimspectr120-light {color:#4d734d}
.vimspectr120-light #col08{color:#eb4128}
.vimspectr120-light #col09{color:#eb7028}
.vimspectr120-light #col0A{background:#ebbb28}
.vimspectr120-light #col0B{color:#289e37}
.vimspectr120-light #col0C{color:#289e8e}
.vimspectr120-light #col0D{color:#3292c9}
.vimspectr120-light #col0E{color:#9f54c9}
.vimspectr120-light #col0F{color:#e05e7f}
.vimspectr120-light #col0A{color:#192e19}
.vimspectr150-dark #theme::before{content:"vimspectr150-dark"}
.vimspectr150-dark {background:#0b1711}
.vimspectr150-dark #ui{border-left-color:#192e23}
.vimspectr150-dark #comment{color:#4d7360}
.vimspectr150-dark #github a{color:#4d7360}
.vimspectr150-dark #ui{border-bottom-color:#6a917e}
.vimspectr150-dark {color:#6a917e}
.vimspectr150-dark #col08{color:#bf4f3f}
.vimspectr150-dark #col09{color:#bf6e3f}
.vimspectr150-dark #col0A{background:#bfa03f}
.vimspectr150-dark #col0B{color:#3e9449}
.vimspectr150-dark #col0C{color:#3e9488}
.vimspectr150-dark #col0D{color:#4886ab}
.vimspectr150-dark #col0E{color:#9673ab}
.vimspectr150-dark #col0F{color:#b57988}
.vimspectr150-dark #col0A{color:#0b1711}
.vimspectr150-light #theme::before{content:"vimspectr150-light"}
.vimspectr150-light {background:#f5fffa}
.vimspectr150-light #ui{border-left-color:#d5ebe0}
.vimspectr150-light #comment{color:#6a917e}
.vimspectr150-light #github a{color:#6a917e}
.vimspectr150-light #ui{border-bottom-color:#4d7360}
.vimspectr150-light {color:#4d7360}
.vimspectr150-light #col08{color:#eb4128}
.vimspectr150-light #col09{color:#eb7028}
.vimspectr150-light #col0A{background:#ebbb28}
.vimspectr150-light #col0B{color:#289e37}
.vimspectr150-light #col0C{color:#289e8e}
.vimspectr150-light #col0D{color:#3292c9}
.vimspectr150-light #col0E{color:#9f54c9}
.vimspectr150-light #col0F{color:#e05e7f}
.vimspectr150-light #col0A{color:#192e23}
.vimspectr180-dark #theme::before{content:"vimspectr180-dark"}
.vimspectr180-dark {background:#0b1717}
.vimspectr180-dark #ui{border-left-color:#192e2e}
.vimspectr180-dark #comment{color:#4b7070}
.vimspectr180-dark #github a{color:#4b7070}
.vimspectr180-dark #ui{border-bottom-color:#688f8f}
.vimspectr180-dark {color:#688f8f}
.vimspectr180-dark #col08{color:#bf4f3f}
.vimspectr180-dark #col09{color:#bf6e3f}
.vimspectr180-dark #col0A{background:#bfa03f}
.vimspectr180-dark #col0B{color:#3e9449}
.vimspectr180-dark #col0C{color:#3e9488}
.vimspectr180-dark #col0D{color:#4886ab}
.vimspectr180-dark #col0E{color:#9673ab}
.vimspectr180-dark #col0F{color:#b57988}
.vimspectr180-dark #col0A{color:#0b1717}
.vimspectr180-light #theme::before{content:"vimspectr180-light"}
.vimspectr180-light {background:#f5ffff}
.vimspectr180-light #ui{border-left-color:#d5ebeb}
.vimspectr180-light #comment{color:#688f8f}
.vimspectr180-light #github a{color:#688f8f}
.vimspectr180-light #ui{border-bottom-color:#4b7070}
.vimspectr180-light {color:#4b7070}
.vimspectr180-light #col08{color:#eb4128}
.vimspectr180-light #col09{color:#eb7028}
.vimspectr180-light #col0A{background:#ebbb28}
.vimspectr180-light #col0B{color:#289e37}
.vimspectr180-light #col0C{color:#289e8e}
.vimspectr180-light #col0D{color:#3292c9}
.vimspectr180-light #col0E{color:#9f54c9}
.vimspectr180-light #col0F{color:#e05e7f}
.vimspectr180-light #col0A{color:#192e2e}
.vimspectr210-dark #theme::before{content:"vimspectr210-dark"}
.vimspectr210-dark {background:#0f171f}
.vimspectr210-dark #ui{border-left-color:#1d2936}
.vimspectr210-dark #comment{color:#556a80}
.vimspectr210-dark #github a{color:#556a80}
.vimspectr210-dark #ui{border-bottom-color:#73899e}
.vimspectr210-dark {color:#73899e}
.vimspectr210-dark #col08{color:#bf4f3f}
.vimspectr210-dark #col09{color:#bf6e3f}
.vimspectr210-dark #col0A{background:#bfa03f}
.vimspectr210-dark #col0B{color:#3e9449}
.vimspectr210-dark #col0C{color:#3e9488}
.vimspectr210-dark #col0D{color:#4886ab}
.vimspectr210-dark #col0E{color:#9673ab}
.vimspectr210-dark #col0F{color:#b57988}
.vimspectr210-dark #col0A{color:#0f171f}
.vimspectr210-light #theme::before{content:"vimspectr210-light"}
.vimspectr210-light {background:#f5faff}
.vimspectr210-light #ui{border-left-color:#dae5f0}
.vimspectr210-light #comment{color:#73899e}
.vimspectr210-light #github a{color:#73899e}
.vimspectr210-light #ui{border-bottom-color:#556a80}
.vimspectr210-light {color:#556a80}
.vimspectr210-light #col08{color:#eb4128}
.vimspectr210-light #col09{color:#eb7028}
.vimspectr210-light #col0A{background:#ebbb28}
.vimspectr210-light #col0B{color:#289e37}
.vimspectr210-light #col0C{color:#289e8e}
.vimspectr210-light #col0D{color:#3292c9}
.vimspectr210-light #col0E{color:#9f54c9}
.vimspectr210-light #col0F{color:#e05e7f}
.vimspectr210-light #col0A{color:#1d2936}
.vimspectr240-dark #theme::before{content:"vimspectr240-dark"}
.vimspectr240-dark {background:#141429}
.vimspectr240-dark #ui{border-left-color:#222240}
.vimspectr240-dark #comment{color:#616191}
.vimspectr240-dark #github a{color:#616191}
.vimspectr240-dark #ui{border-bottom-color:#8080b0}
.vimspectr240-dark {color:#8080b0}
.vimspectr240-dark #col08{color:#bf4f3f}
.vimspectr240-dark #col09{color:#bf6e3f}
.vimspectr240-dark #col0A{background:#bfa03f}
.vimspectr240-dark #col0B{color:#3e9449}
.vimspectr240-dark #col0C{color:#3e9488}
.vimspectr240-dark #col0D{color:#4886ab}
.vimspectr240-dark #col0E{color:#9673ab}
.vimspectr240-dark #col0F{color:#b57988}
.vimspectr240-dark #col0A{color:#141429}
.vimspectr240-light #theme::before{content:"vimspectr240-light"}
.vimspectr240-light {background:#f5f5ff}
.vimspectr240-light #ui{border-left-color:#dfdff5}
.vimspectr240-light #comment{color:#8080b0}
.vimspectr240-light #github a{color:#8080b0}
.vimspectr240-light #ui{border-bottom-color:#616191}
.vimspectr240-light {color:#616191}
.vimspectr240-light #col08{color:#eb4128}
.vimspectr240-light #col09{color:#eb7028}
.vimspectr240-light #col0A{background:#ebbb28}
.vimspectr240-light #col0B{color:#289e37}
.vimspectr240-light #col0C{color:#289e8e}
.vimspectr240-light #col0D{color:#3292c9}
.vimspectr240-light #col0E{color:#9f54c9}
.vimspectr240-light #col0F{color:#e05e7f}
.vimspectr240-light #col0A{color:#222240}
.vimspectr270-dark #theme::before{content:"vimspectr270-dark"}
.vimspectr270-dark {background:#1b1224}
.vimspectr270-dark #ui{border-left-color:#2f213d}
.vimspectr270-dark #comment{color:#755e8c}
.vimspectr270-dark #github a{color:#755e8c}
.vimspectr270-dark #ui{border-bottom-color:#927ba8}
.vimspectr270-dark {color:#927ba8}
.vimspectr270-dark #col08{color:#bf4f3f}
.vimspectr270-dark #col09{color:#bf6e3f}
.vimspectr270-dark #col0A{background:#bfa03f}
.vimspectr270-dark #col0B{color:#3e9449}
.vimspectr270-dark #col0C{color:#3e9488}
.vimspectr270-dark #col0D{color:#4886ab}
.vimspectr270-dark #col0E{color:#9673ab}
.vimspectr270-dark #col0F{color:#b57988}
.vimspectr270-dark #col0A{color:#1b1224}
.vimspectr270-light #theme::before{content:"vimspectr270-light"}
.vimspectr270-light {background:#faf5ff}
.vimspectr270-light #ui{border-left-color:#e7dcf2}
.vimspectr270-light #comment{color:#927ba8}
.vimspectr270-light #github a{color:#927ba8}
.vimspectr270-light #ui{border-bottom-color:#755e8c}
.vimspectr270-light {color:#755e8c}
.vimspectr270-light #col08{color:#eb4128}
.vimspectr270-light #col09{color:#eb7028}
.vimspectr270-light #col0A{background:#ebbb28}
.vimspectr270-light #col0B{color:#289e37}
.vimspectr270-light #col0C{color:#289e8e}
.vimspectr270-light #col0D{color:#3292c9}
.vimspectr270-light #col0E{color:#9f54c9}
.vimspectr270-light #col0F{color:#e05e7f}
.vimspectr270-light #col0A{color:#2f213d}
.vimspectr300-dark #theme::before{content:"vimspectr300-dark"}
.vimspectr300-dark {background:#211121}
.vimspectr300-dark #ui{border-left-color:#381e38}
.vimspectr300-dark #comment{color:#855985}
.vimspectr300-dark #github a{color:#855985}
.vimspectr300-dark #ui{border-bottom-color:#a377a3}
.vimspectr300-dark {color:#a377a3}
.vimspectr300-dark #col08{color:#bf4f3f}
.vimspectr300-dark #col09{color:#bf6e3f}
.vimspectr300-dark #col0A{background:#bfa03f}
.vimspectr300-dark #col0B{color:#3e9449}
.vimspectr300-dark #col0C{color:#3e9488}
.vimspectr300-dark #col0D{color:#4886ab}
.vimspectr300-dark #col0E{color:#9673ab}
.vimspectr300-dark #col0F{color:#b57988}
.vimspectr300-dark #col0A{color:#211121}
.vimspectr300-light #theme::before{content:"vimspectr300-light"}
.vimspectr300-light {background:#fff5ff}
.vimspectr300-light #ui{border-left-color:#f2dcf2}
.vimspectr300-light #comment{color:#a377a3}
.vimspectr300-light #github a{color:#a377a3}
.vimspectr300-light #ui{border-bottom-color:#855985}
.vimspectr300-light {color:#855985}
.vimspectr300-light #col08{color:#eb4128}
.vimspectr300-light #col09{color:#eb7028}
.vimspectr300-light #col0A{background:#ebbb28}
.vimspectr300-light #col0B{color:#289e37}
.vimspectr300-light #col0C{color:#289e8e}
.vimspectr300-light #col0D{color:#3292c9}
.vimspectr300-light #col0E{color:#9f54c9}
.vimspectr300-light #col0F{color:#e05e7f}
.vimspectr300-light #col0A{color:#381e38}
.vimspectr330-dark #theme::before{content:"vimspectr330-dark"}
.vimspectr330-dark {background:#211119}
.vimspectr330-dark #ui{border-left-color:#3b202d}
.vimspectr330-dark #comment{color:#875b71}
.vimspectr330-dark #github a{color:#875b71}
.vimspectr330-dark #ui{border-bottom-color:#a6798f}
.vimspectr330-dark {color:#a6798f}
.vimspectr330-dark #col08{color:#bf4f3f}
.vimspectr330-dark #col09{color:#bf6e3f}
.vimspectr330-dark #col0A{background:#bfa03f}
.vimspectr330-dark #col0B{color:#3e9449}
.vimspectr330-dark #col0C{color:#3e9488}
.vimspectr330-dark #col0D{color:#4886ab}
.vimspectr330-dark #col0E{color:#9673ab}
.vimspectr330-dark #col0F{color:#b57988}
.vimspectr330-dark #col0A{color:#211119}
.vimspectr330-light #theme::before{content:"vimspectr330-light"}
.vimspectr330-light {background:#fff5fa}
.vimspectr330-light #ui{border-left-color:#f2dce7}
.vimspectr330-light #comment{color:#a6798f}
.vimspectr330-light #github a{color:#a6798f}
.vimspectr330-light #ui{border-bottom-color:#875b71}
.vimspectr330-light {color:#875b71}
.vimspectr330-light #col08{color:#eb4128}
.vimspectr330-light #col09{color:#eb7028}
.vimspectr330-light #col0A{background:#ebbb28}
.vimspectr330-light #col0B{color:#289e37}
.vimspectr330-light #col0C{color:#289e8e}
.vimspectr330-light #col0D{color:#3292c9}
.vimspectr330-light #col0E{color:#9f54c9}
.vimspectr330-light #col0F{color:#e05e7f}
.vimspectr330-light #col0A{color:#3b202d}
.vimspectrgrey-dark #theme::before{content:"vimspectrgrey-dark"}
.vimspectrgrey-dark {background:#141414}
.vimspectrgrey-dark #ui{border-left-color:#2b2b2b}
.vimspectrgrey-dark #comment{color:#6b6b6b}
.vimspectrgrey-dark #github a{color:#6b6b6b}
.vimspectrgrey-dark #ui{border-bottom-color:#8a8a8a}
.vimspectrgrey-dark {color:#8a8a8a}
.vimspectrgrey-dark #col08{color:#bf4f3f}
.vimspectrgrey-dark #col09{color:#bf6e3f}
.vimspectrgrey-dark #col0A{background:#bfa03f}
.vimspectrgrey-dark #col0B{color:#3e9449}
.vimspectrgrey-dark #col0C{color:#3e9488}
.vimspectrgrey-dark #col0D{color:#4886ab}
.vimspectrgrey-dark #col0E{color:#9673ab}
.vimspectrgrey-dark #col0F{color:#b57988}
.vimspectrgrey-dark #col0A{color:#141414}
.vimspectrgrey-light #theme::before{content:"vimspectrgrey-light"}
.vimspectrgrey-light {background:#ffffff}
.vimspectrgrey-light #ui{border-left-color:#e8e8e8}
.vimspectrgrey-light #comment{color:#8a8a8a}
.vimspectrgrey-light #github a{color:#8a8a8a}
.vimspectrgrey-light #ui{border-bottom-color:#6b6b6b}
.vimspectrgrey-light {color:#6b6b6b}
.vimspectrgrey-light #col08{color:#eb4128}
.vimspectrgrey-light #col09{color:#eb7028}
.vimspectrgrey-light #col0A{background:#ebbb28}
.vimspectrgrey-light #col0B{color:#289e37}
.vimspectrgrey-light #col0C{color:#289e8e}
.vimspectrgrey-light #col0D{color:#3292c9}
.vimspectrgrey-light #col0E{color:#9f54c9}
.vimspectrgrey-light #col0F{color:#e05e7f}
.vimspectrgrey-light #col0A{color:#2b2b2b}
