html{font-family:monospace;background:#8a8a8a;padding-top:2rem}
#ui{font-size:1.33rem;max-width:28rem;margin:5rem auto 0 auto;border-left:1.25rem solid black;border-bottom:1.25rem solid black;padding:1.25rem 2.25rem}
#theme{text-align:center;padding:2rem 0 3rem 0}
#theme::before{font-size:2.25rem}
html,p,#ui{transition-duration:0.42s;transition-timing-function:linear}
#github{margin-top:3rem;text-align:center}

#wheel {
  height: 400px;
  width: 400px;
  margin: auto;
}

#wheel>svg {
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  #wheel {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 400px) {
  #wheel {
    height: 300px;
    width: 300px;
  }
}

.vimspectr0-dark #theme::before{content:"vimspectr0-dark"}
.vimspectr0-dark {background:#1f1212}
.vimspectr0-dark #ui{border-left-color:#332222}
.vimspectr0-dark #comment{color:#806060}
.vimspectr0-dark #github a{color:#806060}
.vimspectr0-dark #ui{border-bottom-color:#997f7f}
.vimspectr0-dark {color:#997f7f}
.vimspectr0-dark #col08{color:#bf5749}
.vimspectr0-dark #col09{color:#bf7449}
.vimspectr0-dark #col0A{background:#bfa249}
.vimspectr0-dark #col0B{color:#44944e}
.vimspectr0-dark #col0C{color:#449489}
.vimspectr0-dark #col0D{color:#4f88ab}
.vimspectr0-dark #col0E{color:#936aab}
.vimspectr0-dark #col0F{color:#b57081}
.vimspectr0-dark #col0A{color:#1f1212}
.vimspectr0-light #theme::before{content:"vimspectr0-light"}
.vimspectr0-light {background:#fff5f5}
.vimspectr0-light #ui{border-left-color:#f0dddd}
.vimspectr0-light #comment{color:#997f7f}
.vimspectr0-light #github a{color:#997f7f}
.vimspectr0-light #ui{border-bottom-color:#806060}
.vimspectr0-light {color:#806060}
.vimspectr0-light #col08{color:#eb4128}
.vimspectr0-light #col09{color:#eb7028}
.vimspectr0-light #col0A{background:#ebbb28}
.vimspectr0-light #col0B{color:#289e37}
.vimspectr0-light #col0C{color:#289e8e}
.vimspectr0-light #col0D{color:#3292c9}
.vimspectr0-light #col0E{color:#9f54c9}
.vimspectr0-light #col0F{color:#e05e7f}
.vimspectr0-light #col0A{color:#332222}
.vimspectr30-dark #theme::before{content:"vimspectr30-dark"}
.vimspectr30-dark {background:#1a140f}
.vimspectr30-dark #ui{border-left-color:#302820}
.vimspectr30-dark #comment{color:#756758}
.vimspectr30-dark #github a{color:#756758}
.vimspectr30-dark #ui{border-bottom-color:#918579}
.vimspectr30-dark {color:#918579}
.vimspectr30-dark #col08{color:#bf5749}
.vimspectr30-dark #col09{color:#bf7449}
.vimspectr30-dark #col0A{background:#bfa249}
.vimspectr30-dark #col0B{color:#44944e}
.vimspectr30-dark #col0C{color:#449489}
.vimspectr30-dark #col0D{color:#4f88ab}
.vimspectr30-dark #col0E{color:#936aab}
.vimspectr30-dark #col0F{color:#b57081}
.vimspectr30-dark #col0A{color:#1a140f}
.vimspectr30-light #theme::before{content:"vimspectr30-light"}
.vimspectr30-light {background:#fffaf5}
.vimspectr30-light #ui{border-left-color:#ede4da}
.vimspectr30-light #comment{color:#918579}
.vimspectr30-light #github a{color:#918579}
.vimspectr30-light #ui{border-bottom-color:#756758}
.vimspectr30-light {color:#756758}
.vimspectr30-light #col08{color:#eb4128}
.vimspectr30-light #col09{color:#eb7028}
.vimspectr30-light #col0A{background:#ebbb28}
.vimspectr30-light #col0B{color:#289e37}
.vimspectr30-light #col0C{color:#289e8e}
.vimspectr30-light #col0D{color:#3292c9}
.vimspectr30-light #col0E{color:#9f54c9}
.vimspectr30-light #col0F{color:#e05e7f}
.vimspectr30-light #col0A{color:#302820}
.vimspectr60-dark #theme::before{content:"vimspectr60-dark"}
.vimspectr60-dark {background:#17170d}
.vimspectr60-dark #ui{border-left-color:#2b2b1d}
.vimspectr60-dark #comment{color:#6e6e52}
.vimspectr60-dark #github a{color:#6e6e52}
.vimspectr60-dark #ui{border-bottom-color:#8a8a72}
.vimspectr60-dark {color:#8a8a72}
.vimspectr60-dark #col08{color:#bf5749}
.vimspectr60-dark #col09{color:#bf7449}
.vimspectr60-dark #col0A{background:#bfa249}
.vimspectr60-dark #col0B{color:#44944e}
.vimspectr60-dark #col0C{color:#449489}
.vimspectr60-dark #col0D{color:#4f88ab}
.vimspectr60-dark #col0E{color:#936aab}
.vimspectr60-dark #col0F{color:#b57081}
.vimspectr60-dark #col0A{color:#17170d}
.vimspectr60-light #theme::before{content:"vimspectr60-light"}
.vimspectr60-light {background:#fffff5}
.vimspectr60-light #ui{border-left-color:#ebebd8}
.vimspectr60-light #comment{color:#8a8a72}
.vimspectr60-light #github a{color:#8a8a72}
.vimspectr60-light #ui{border-bottom-color:#6e6e52}
.vimspectr60-light {color:#6e6e52}
.vimspectr60-light #col08{color:#eb4128}
.vimspectr60-light #col09{color:#eb7028}
.vimspectr60-light #col0A{background:#ebbb28}
.vimspectr60-light #col0B{color:#289e37}
.vimspectr60-light #col0C{color:#289e8e}
.vimspectr60-light #col0D{color:#3292c9}
.vimspectr60-light #col0E{color:#9f54c9}
.vimspectr60-light #col0F{color:#e05e7f}
.vimspectr60-light #col0A{color:#2b2b1d}
.vimspectr90-dark #theme::before{content:"vimspectr90-dark"}
.vimspectr90-dark {background:#12170d}
.vimspectr90-dark #ui{border-left-color:#262e1f}
.vimspectr90-dark #comment{color:#627054}
.vimspectr90-dark #github a{color:#627054}
.vimspectr90-dark #ui{border-bottom-color:#808c74}
.vimspectr90-dark {color:#808c74}
.vimspectr90-dark #col08{color:#bf5749}
.vimspectr90-dark #col09{color:#bf7449}
.vimspectr90-dark #col0A{background:#bfa249}
.vimspectr90-dark #col0B{color:#44944e}
.vimspectr90-dark #col0C{color:#449489}
.vimspectr90-dark #col0D{color:#4f88ab}
.vimspectr90-dark #col0E{color:#936aab}
.vimspectr90-dark #col0F{color:#b57081}
.vimspectr90-dark #col0A{color:#12170d}
.vimspectr90-light #theme::before{content:"vimspectr90-light"}
.vimspectr90-light {background:#fafff5}
.vimspectr90-light #ui{border-left-color:#e1ebd8}
.vimspectr90-light #comment{color:#808c74}
.vimspectr90-light #github a{color:#808c74}
.vimspectr90-light #ui{border-bottom-color:#627054}
.vimspectr90-light {color:#627054}
.vimspectr90-light #col08{color:#eb4128}
.vimspectr90-light #col09{color:#eb7028}
.vimspectr90-light #col0A{background:#ebbb28}
.vimspectr90-light #col0B{color:#289e37}
.vimspectr90-light #col0C{color:#289e8e}
.vimspectr90-light #col0D{color:#3292c9}
.vimspectr90-light #col0E{color:#9f54c9}
.vimspectr90-light #col0F{color:#e05e7f}
.vimspectr90-light #col0A{color:#262e1f}
.vimspectr120-dark #theme::before{content:"vimspectr120-dark"}
.vimspectr120-dark {background:#0d170d}
.vimspectr120-dark #ui{border-left-color:#1f2e1f}
.vimspectr120-dark #comment{color:#547054}
.vimspectr120-dark #github a{color:#547054}
.vimspectr120-dark #ui{border-bottom-color:#778f77}
.vimspectr120-dark {color:#778f77}
.vimspectr120-dark #col08{color:#bf5749}
.vimspectr120-dark #col09{color:#bf7449}
.vimspectr120-dark #col0A{background:#bfa249}
.vimspectr120-dark #col0B{color:#44944e}
.vimspectr120-dark #col0C{color:#449489}
.vimspectr120-dark #col0D{color:#4f88ab}
.vimspectr120-dark #col0E{color:#936aab}
.vimspectr120-dark #col0F{color:#b57081}
.vimspectr120-dark #col0A{color:#0d170d}
.vimspectr120-light #theme::before{content:"vimspectr120-light"}
.vimspectr120-light {background:#f5fff5}
.vimspectr120-light #ui{border-left-color:#d8ebd8}
.vimspectr120-light #comment{color:#778f77}
.vimspectr120-light #github a{color:#778f77}
.vimspectr120-light #ui{border-bottom-color:#547054}
.vimspectr120-light {color:#547054}
.vimspectr120-light #col08{color:#eb4128}
.vimspectr120-light #col09{color:#eb7028}
.vimspectr120-light #col0A{background:#ebbb28}
.vimspectr120-light #col0B{color:#289e37}
.vimspectr120-light #col0C{color:#289e8e}
.vimspectr120-light #col0D{color:#3292c9}
.vimspectr120-light #col0E{color:#9f54c9}
.vimspectr120-light #col0F{color:#e05e7f}
.vimspectr120-light #col0A{color:#1f2e1f}
.vimspectr150-dark #theme::before{content:"vimspectr150-dark"}
.vimspectr150-dark {background:#0d1712}
.vimspectr150-dark #ui{border-left-color:#1f2e26}
.vimspectr150-dark #comment{color:#547062}
.vimspectr150-dark #github a{color:#547062}
.vimspectr150-dark #ui{border-bottom-color:#778f83}
.vimspectr150-dark {color:#778f83}
.vimspectr150-dark #col08{color:#bf5749}
.vimspectr150-dark #col09{color:#bf7449}
.vimspectr150-dark #col0A{background:#bfa249}
.vimspectr150-dark #col0B{color:#44944e}
.vimspectr150-dark #col0C{color:#449489}
.vimspectr150-dark #col0D{color:#4f88ab}
.vimspectr150-dark #col0E{color:#936aab}
.vimspectr150-dark #col0F{color:#b57081}
.vimspectr150-dark #col0A{color:#0d1712}
.vimspectr150-light #theme::before{content:"vimspectr150-light"}
.vimspectr150-light {background:#f5fffa}
.vimspectr150-light #ui{border-left-color:#d8ebe1}
.vimspectr150-light #comment{color:#778f83}
.vimspectr150-light #github a{color:#778f83}
.vimspectr150-light #ui{border-bottom-color:#547062}
.vimspectr150-light {color:#547062}
.vimspectr150-light #col08{color:#eb4128}
.vimspectr150-light #col09{color:#eb7028}
.vimspectr150-light #col0A{background:#ebbb28}
.vimspectr150-light #col0B{color:#289e37}
.vimspectr150-light #col0C{color:#289e8e}
.vimspectr150-light #col0D{color:#3292c9}
.vimspectr150-light #col0E{color:#9f54c9}
.vimspectr150-light #col0F{color:#e05e7f}
.vimspectr150-light #col0A{color:#1f2e26}
.vimspectr180-dark #theme::before{content:"vimspectr180-dark"}
.vimspectr180-dark {background:#0d1717}
.vimspectr180-dark #ui{border-left-color:#1f2e2e}
.vimspectr180-dark #comment{color:#547070}
.vimspectr180-dark #github a{color:#547070}
.vimspectr180-dark #ui{border-bottom-color:#748c8c}
.vimspectr180-dark {color:#748c8c}
.vimspectr180-dark #col08{color:#bf5749}
.vimspectr180-dark #col09{color:#bf7449}
.vimspectr180-dark #col0A{background:#bfa249}
.vimspectr180-dark #col0B{color:#44944e}
.vimspectr180-dark #col0C{color:#449489}
.vimspectr180-dark #col0D{color:#4f88ab}
.vimspectr180-dark #col0E{color:#936aab}
.vimspectr180-dark #col0F{color:#b57081}
.vimspectr180-dark #col0A{color:#0d1717}
.vimspectr180-light #theme::before{content:"vimspectr180-light"}
.vimspectr180-light {background:#f5ffff}
.vimspectr180-light #ui{border-left-color:#d8ebeb}
.vimspectr180-light #comment{color:#748c8c}
.vimspectr180-light #github a{color:#748c8c}
.vimspectr180-light #ui{border-bottom-color:#547070}
.vimspectr180-light {color:#547070}
.vimspectr180-light #col08{color:#eb4128}
.vimspectr180-light #col09{color:#eb7028}
.vimspectr180-light #col0A{background:#ebbb28}
.vimspectr180-light #col0B{color:#289e37}
.vimspectr180-light #col0C{color:#289e8e}
.vimspectr180-light #col0D{color:#3292c9}
.vimspectr180-light #col0E{color:#9f54c9}
.vimspectr180-light #col0F{color:#e05e7f}
.vimspectr180-light #col0A{color:#1f2e2e}
.vimspectr210-dark #theme::before{content:"vimspectr210-dark"}
.vimspectr210-dark {background:#10161c}
.vimspectr210-dark #ui{border-left-color:#202830}
.vimspectr210-dark #comment{color:#5a6978}
.vimspectr210-dark #github a{color:#5a6978}
.vimspectr210-dark #ui{border-bottom-color:#7b8794}
.vimspectr210-dark {color:#7b8794}
.vimspectr210-dark #col08{color:#bf5749}
.vimspectr210-dark #col09{color:#bf7449}
.vimspectr210-dark #col0A{background:#bfa249}
.vimspectr210-dark #col0B{color:#44944e}
.vimspectr210-dark #col0C{color:#449489}
.vimspectr210-dark #col0D{color:#4f88ab}
.vimspectr210-dark #col0E{color:#936aab}
.vimspectr210-dark #col0F{color:#b57081}
.vimspectr210-dark #col0A{color:#10161c}
.vimspectr210-light #theme::before{content:"vimspectr210-light"}
.vimspectr210-light {background:#f5faff}
.vimspectr210-light #ui{border-left-color:#dde6f0}
.vimspectr210-light #comment{color:#7b8794}
.vimspectr210-light #github a{color:#7b8794}
.vimspectr210-light #ui{border-bottom-color:#5a6978}
.vimspectr210-light {color:#5a6978}
.vimspectr210-light #col08{color:#eb4128}
.vimspectr210-light #col09{color:#eb7028}
.vimspectr210-light #col0A{background:#ebbb28}
.vimspectr210-light #col0B{color:#289e37}
.vimspectr210-light #col0C{color:#289e8e}
.vimspectr210-light #col0D{color:#3292c9}
.vimspectr210-light #col0E{color:#9f54c9}
.vimspectr210-light #col0F{color:#e05e7f}
.vimspectr210-light #col0A{color:#202830}
.vimspectr240-dark #theme::before{content:"vimspectr240-dark"}
.vimspectr240-dark {background:#151524}
.vimspectr240-dark #ui{border-left-color:#242436}
.vimspectr240-dark #comment{color:#636385}
.vimspectr240-dark #github a{color:#636385}
.vimspectr240-dark #ui{border-bottom-color:#81819c}
.vimspectr240-dark {color:#81819c}
.vimspectr240-dark #col08{color:#bf5749}
.vimspectr240-dark #col09{color:#bf7449}
.vimspectr240-dark #col0A{background:#bfa249}
.vimspectr240-dark #col0B{color:#44944e}
.vimspectr240-dark #col0C{color:#449489}
.vimspectr240-dark #col0D{color:#4f88ab}
.vimspectr240-dark #col0E{color:#936aab}
.vimspectr240-dark #col0F{color:#b57081}
.vimspectr240-dark #col0A{color:#151524}
.vimspectr240-light #theme::before{content:"vimspectr240-light"}
.vimspectr240-light {background:#f5f5ff}
.vimspectr240-light #ui{border-left-color:#dfdff2}
.vimspectr240-light #comment{color:#81819c}
.vimspectr240-light #github a{color:#81819c}
.vimspectr240-light #ui{border-bottom-color:#636385}
.vimspectr240-light {color:#636385}
.vimspectr240-light #col08{color:#eb4128}
.vimspectr240-light #col09{color:#eb7028}
.vimspectr240-light #col0A{background:#ebbb28}
.vimspectr240-light #col0B{color:#289e37}
.vimspectr240-light #col0C{color:#289e8e}
.vimspectr240-light #col0D{color:#3292c9}
.vimspectr240-light #col0E{color:#9f54c9}
.vimspectr240-light #col0F{color:#e05e7f}
.vimspectr240-light #col0A{color:#242436}
.vimspectr270-dark #theme::before{content:"vimspectr270-dark"}
.vimspectr270-dark {background:#1a1321}
.vimspectr270-dark #ui{border-left-color:#2d2436}
.vimspectr270-dark #comment{color:#706080}
.vimspectr270-dark #github a{color:#706080}
.vimspectr270-dark #ui{border-bottom-color:#8c7f99}
.vimspectr270-dark {color:#8c7f99}
.vimspectr270-dark #col08{color:#bf5749}
.vimspectr270-dark #col09{color:#bf7449}
.vimspectr270-dark #col0A{background:#bfa249}
.vimspectr270-dark #col0B{color:#44944e}
.vimspectr270-dark #col0C{color:#449489}
.vimspectr270-dark #col0D{color:#4f88ab}
.vimspectr270-dark #col0E{color:#936aab}
.vimspectr270-dark #col0F{color:#b57081}
.vimspectr270-dark #col0A{color:#1a1321}
.vimspectr270-light #theme::before{content:"vimspectr270-light"}
.vimspectr270-light {background:#faf5ff}
.vimspectr270-light #ui{border-left-color:#e9dff2}
.vimspectr270-light #comment{color:#8c7f99}
.vimspectr270-light #github a{color:#8c7f99}
.vimspectr270-light #ui{border-bottom-color:#706080}
.vimspectr270-light {color:#706080}
.vimspectr270-light #col08{color:#eb4128}
.vimspectr270-light #col09{color:#eb7028}
.vimspectr270-light #col0A{background:#ebbb28}
.vimspectr270-light #col0B{color:#289e37}
.vimspectr270-light #col0C{color:#289e8e}
.vimspectr270-light #col0D{color:#3292c9}
.vimspectr270-light #col0E{color:#9f54c9}
.vimspectr270-light #col0F{color:#e05e7f}
.vimspectr270-light #col0A{color:#2d2436}
.vimspectr300-dark #theme::before{content:"vimspectr300-dark"}
.vimspectr300-dark {background:#1f121f}
.vimspectr300-dark #ui{border-left-color:#332233}
.vimspectr300-dark #comment{color:#7d5e7d}
.vimspectr300-dark #github a{color:#7d5e7d}
.vimspectr300-dark #ui{border-bottom-color:#967d96}
.vimspectr300-dark {color:#967d96}
.vimspectr300-dark #col08{color:#bf5749}
.vimspectr300-dark #col09{color:#bf7449}
.vimspectr300-dark #col0A{background:#bfa249}
.vimspectr300-dark #col0B{color:#44944e}
.vimspectr300-dark #col0C{color:#449489}
.vimspectr300-dark #col0D{color:#4f88ab}
.vimspectr300-dark #col0E{color:#936aab}
.vimspectr300-dark #col0F{color:#b57081}
.vimspectr300-dark #col0A{color:#1f121f}
.vimspectr300-light #theme::before{content:"vimspectr300-light"}
.vimspectr300-light {background:#fff5ff}
.vimspectr300-light #ui{border-left-color:#f0ddf0}
.vimspectr300-light #comment{color:#967d96}
.vimspectr300-light #github a{color:#967d96}
.vimspectr300-light #ui{border-bottom-color:#7d5e7d}
.vimspectr300-light {color:#7d5e7d}
.vimspectr300-light #col08{color:#eb4128}
.vimspectr300-light #col09{color:#eb7028}
.vimspectr300-light #col0A{background:#ebbb28}
.vimspectr300-light #col0B{color:#289e37}
.vimspectr300-light #col0C{color:#289e8e}
.vimspectr300-light #col0D{color:#3292c9}
.vimspectr300-light #col0E{color:#9f54c9}
.vimspectr300-light #col0F{color:#e05e7f}
.vimspectr300-light #col0A{color:#332233}
.vimspectr330-dark #theme::before{content:"vimspectr330-dark"}
.vimspectr330-dark {background:#1f1218}
.vimspectr330-dark #ui{border-left-color:#33222b}
.vimspectr330-dark #comment{color:#7d5e6d}
.vimspectr330-dark #github a{color:#7d5e6d}
.vimspectr330-dark #ui{border-bottom-color:#997f8c}
.vimspectr330-dark {color:#997f8c}
.vimspectr330-dark #col08{color:#bf5749}
.vimspectr330-dark #col09{color:#bf7449}
.vimspectr330-dark #col0A{background:#bfa249}
.vimspectr330-dark #col0B{color:#44944e}
.vimspectr330-dark #col0C{color:#449489}
.vimspectr330-dark #col0D{color:#4f88ab}
.vimspectr330-dark #col0E{color:#936aab}
.vimspectr330-dark #col0F{color:#b57081}
.vimspectr330-dark #col0A{color:#1f1218}
.vimspectr330-light #theme::before{content:"vimspectr330-light"}
.vimspectr330-light {background:#fff5fa}
.vimspectr330-light #ui{border-left-color:#f0dde6}
.vimspectr330-light #comment{color:#997f8c}
.vimspectr330-light #github a{color:#997f8c}
.vimspectr330-light #ui{border-bottom-color:#7d5e6d}
.vimspectr330-light {color:#7d5e6d}
.vimspectr330-light #col08{color:#eb4128}
.vimspectr330-light #col09{color:#eb7028}
.vimspectr330-light #col0A{background:#ebbb28}
.vimspectr330-light #col0B{color:#289e37}
.vimspectr330-light #col0C{color:#289e8e}
.vimspectr330-light #col0D{color:#3292c9}
.vimspectr330-light #col0E{color:#9f54c9}
.vimspectr330-light #col0F{color:#e05e7f}
.vimspectr330-light #col0A{color:#33222b}
.vimspectrgrey-dark #theme::before{content:"vimspectrgrey-dark"}
.vimspectrgrey-dark {background:#141414}
.vimspectrgrey-dark #ui{border-left-color:#2b2b2b}
.vimspectrgrey-dark #comment{color:#6b6b6b}
.vimspectrgrey-dark #github a{color:#6b6b6b}
.vimspectrgrey-dark #ui{border-bottom-color:#8a8a8a}
.vimspectrgrey-dark {color:#8a8a8a}
.vimspectrgrey-dark #col08{color:#bf5749}
.vimspectrgrey-dark #col09{color:#bf7449}
.vimspectrgrey-dark #col0A{background:#bfa249}
.vimspectrgrey-dark #col0B{color:#44944e}
.vimspectrgrey-dark #col0C{color:#449489}
.vimspectrgrey-dark #col0D{color:#4f88ab}
.vimspectrgrey-dark #col0E{color:#936aab}
.vimspectrgrey-dark #col0F{color:#b57081}
.vimspectrgrey-dark #col0A{color:#141414}
.vimspectrgrey-light #theme::before{content:"vimspectrgrey-light"}
.vimspectrgrey-light {background:#ffffff}
.vimspectrgrey-light #ui{border-left-color:#e8e8e8}
.vimspectrgrey-light #comment{color:#8a8a8a}
.vimspectrgrey-light #github a{color:#8a8a8a}
.vimspectrgrey-light #ui{border-bottom-color:#6b6b6b}
.vimspectrgrey-light {color:#6b6b6b}
.vimspectrgrey-light #col08{color:#eb4128}
.vimspectrgrey-light #col09{color:#eb7028}
.vimspectrgrey-light #col0A{background:#ebbb28}
.vimspectrgrey-light #col0B{color:#289e37}
.vimspectrgrey-light #col0C{color:#289e8e}
.vimspectrgrey-light #col0D{color:#3292c9}
.vimspectrgrey-light #col0E{color:#9f54c9}
.vimspectrgrey-light #col0F{color:#e05e7f}
.vimspectrgrey-light #col0A{color:#2b2b2b}
