html{font-family:monospace;background:#8a8a8a;padding-top:2rem}
#ui{font-size:1.33rem;max-width:28rem;margin:5rem auto 0 auto;border-left:1.25rem solid black;border-bottom:1.25rem solid black;padding:1.25rem 2.25rem}
#theme{text-align:center;padding:2rem 0 3rem 0}
#theme::before{font-size:2.25rem}
html,p,#ui{transition-duration:0.42s;transition-timing-function:linear}
#github{margin-top:3rem;text-align:center}

#wheel {
  height: 400px;
  width: 400px;
  margin: auto;
}

#wheel>svg {
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  #wheel {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 400px) {
  #wheel {
    height: 300px;
    width: 300px;
  }
}

.vimspectr0-dark #theme::before{content:"vimspectr0-dark"}
.vimspectr0-dark {background:#260f0f}
.vimspectr0-dark #ui{border-left-color:#401e1e}
.vimspectr0-dark #comment{color:#875d5d}
.vimspectr0-dark #github a{color:#875d5d}
.vimspectr0-dark #ui{border-bottom-color:#a17c7c}
.vimspectr0-dark {color:#a17c7c}
.vimspectr0-dark #col08{color:#9c564c}
.vimspectr0-dark #col09{color:#9e6d50}
.vimspectr0-dark #col0A{background:#a18e53}
.vimspectr0-dark #col0B{color:#407547}
.vimspectr0-dark #col0C{color:#4a7d76}
.vimspectr0-dark #col0D{color:#547385}
.vimspectr0-dark #col0E{color:#7f5f91}
.vimspectr0-dark #col0F{color:#996673}
.vimspectr0-dark #col0A{color:#260f0f}
.vimspectr0-light #theme::before{content:"vimspectr0-light"}
.vimspectr0-light {background:#fff5f5}
.vimspectr0-light #ui{border-left-color:#eddfdf}
.vimspectr0-light #comment{color:#a17c7c}
.vimspectr0-light #github a{color:#a17c7c}
.vimspectr0-light #ui{border-bottom-color:#875d5d}
.vimspectr0-light {color:#875d5d}
.vimspectr0-light #col08{color:#e8361c}
.vimspectr0-light #col09{color:#eb6b21}
.vimspectr0-light #col0A{background:#f2c027}
.vimspectr0-light #col0B{color:#1b942b}
.vimspectr0-light #col0C{color:#2aa694}
.vimspectr0-light #col0D{color:#3986b3}
.vimspectr0-light #col0E{color:#9c45cc}
.vimspectr0-light #col0F{color:#e05579}
.vimspectr0-light #col0A{color:#401e1e}
.vimspectr30-dark #theme::before{content:"vimspectr30-dark"}
.vimspectr30-dark {background:#1c130b}
.vimspectr30-dark #ui{border-left-color:#362719}
.vimspectr30-dark #comment{color:#786553}
.vimspectr30-dark #github a{color:#786553}
.vimspectr30-dark #ui{border-bottom-color:#968574}
.vimspectr30-dark {color:#968574}
.vimspectr30-dark #col08{color:#9c564c}
.vimspectr30-dark #col09{color:#9e6d50}
.vimspectr30-dark #col0A{background:#a18e53}
.vimspectr30-dark #col0B{color:#407547}
.vimspectr30-dark #col0C{color:#4a7d76}
.vimspectr30-dark #col0D{color:#547385}
.vimspectr30-dark #col0E{color:#7f5f91}
.vimspectr30-dark #col0F{color:#996673}
.vimspectr30-dark #col0A{color:#1c130b}
.vimspectr30-light #theme::before{content:"vimspectr30-light"}
.vimspectr30-light {background:#fffaf5}
.vimspectr30-light #ui{border-left-color:#ebe4dd}
.vimspectr30-light #comment{color:#968574}
.vimspectr30-light #github a{color:#968574}
.vimspectr30-light #ui{border-bottom-color:#786553}
.vimspectr30-light {color:#786553}
.vimspectr30-light #col08{color:#e8361c}
.vimspectr30-light #col09{color:#eb6b21}
.vimspectr30-light #col0A{background:#f2c027}
.vimspectr30-light #col0B{color:#1b942b}
.vimspectr30-light #col0C{color:#2aa694}
.vimspectr30-light #col0D{color:#3986b3}
.vimspectr30-light #col0E{color:#9c45cc}
.vimspectr30-light #col0F{color:#e05579}
.vimspectr30-light #col0A{color:#362719}
.vimspectr60-dark #theme::before{content:"vimspectr60-dark"}
.vimspectr60-dark {background:#171709}
.vimspectr60-dark #ui{border-left-color:#2b2b14}
.vimspectr60-dark #comment{color:#6e6e4c}
.vimspectr60-dark #github a{color:#6e6e4c}
.vimspectr60-dark #ui{border-bottom-color:#8c8c6c}
.vimspectr60-dark {color:#8c8c6c}
.vimspectr60-dark #col08{color:#9c564c}
.vimspectr60-dark #col09{color:#9e6d50}
.vimspectr60-dark #col0A{background:#a18e53}
.vimspectr60-dark #col0B{color:#407547}
.vimspectr60-dark #col0C{color:#4a7d76}
.vimspectr60-dark #col0D{color:#547385}
.vimspectr60-dark #col0E{color:#7f5f91}
.vimspectr60-dark #col0F{color:#996673}
.vimspectr60-dark #col0A{color:#171709}
.vimspectr60-light #theme::before{content:"vimspectr60-light"}
.vimspectr60-light {background:#fffff5}
.vimspectr60-light #ui{border-left-color:#e8e8da}
.vimspectr60-light #comment{color:#8c8c6c}
.vimspectr60-light #github a{color:#8c8c6c}
.vimspectr60-light #ui{border-bottom-color:#6e6e4c}
.vimspectr60-light {color:#6e6e4c}
.vimspectr60-light #col08{color:#e8361c}
.vimspectr60-light #col09{color:#eb6b21}
.vimspectr60-light #col0A{background:#f2c027}
.vimspectr60-light #col0B{color:#1b942b}
.vimspectr60-light #col0C{color:#2aa694}
.vimspectr60-light #col0D{color:#3986b3}
.vimspectr60-light #col0E{color:#9c45cc}
.vimspectr60-light #col0F{color:#e05579}
.vimspectr60-light #col0A{color:#2b2b14}
.vimspectr90-dark #theme::before{content:"vimspectr90-dark"}
.vimspectr90-dark {background:#101709}
.vimspectr90-dark #ui{border-left-color:#222e16}
.vimspectr90-dark #comment{color:#5f704d}
.vimspectr90-dark #github a{color:#5f704d}
.vimspectr90-dark #ui{border-bottom-color:#7e8f6e}
.vimspectr90-dark {color:#7e8f6e}
.vimspectr90-dark #col08{color:#9c564c}
.vimspectr90-dark #col09{color:#9e6d50}
.vimspectr90-dark #col0A{background:#a18e53}
.vimspectr90-dark #col0B{color:#407547}
.vimspectr90-dark #col0C{color:#4a7d76}
.vimspectr90-dark #col0D{color:#547385}
.vimspectr90-dark #col0E{color:#7f5f91}
.vimspectr90-dark #col0F{color:#996673}
.vimspectr90-dark #col0A{color:#101709}
.vimspectr90-light #theme::before{content:"vimspectr90-light"}
.vimspectr90-light {background:#fafff5}
.vimspectr90-light #ui{border-left-color:#e4ebdd}
.vimspectr90-light #comment{color:#7e8f6e}
.vimspectr90-light #github a{color:#7e8f6e}
.vimspectr90-light #ui{border-bottom-color:#5f704d}
.vimspectr90-light {color:#5f704d}
.vimspectr90-light #col08{color:#e8361c}
.vimspectr90-light #col09{color:#eb6b21}
.vimspectr90-light #col0A{background:#f2c027}
.vimspectr90-light #col0B{color:#1b942b}
.vimspectr90-light #col0C{color:#2aa694}
.vimspectr90-light #col0D{color:#3986b3}
.vimspectr90-light #col0E{color:#9c45cc}
.vimspectr90-light #col0F{color:#e05579}
.vimspectr90-light #col0A{color:#222e16}
.vimspectr120-dark #theme::before{content:"vimspectr120-dark"}
.vimspectr120-dark {background:#0a1a0a}
.vimspectr120-dark #ui{border-left-color:#173017}
.vimspectr120-dark #comment{color:#4f734f}
.vimspectr120-dark #github a{color:#4f734f}
.vimspectr120-dark #ui{border-bottom-color:#709170}
.vimspectr120-dark {color:#709170}
.vimspectr120-dark #col08{color:#9c564c}
.vimspectr120-dark #col09{color:#9e6d50}
.vimspectr120-dark #col0A{background:#a18e53}
.vimspectr120-dark #col0B{color:#407547}
.vimspectr120-dark #col0C{color:#4a7d76}
.vimspectr120-dark #col0D{color:#547385}
.vimspectr120-dark #col0E{color:#7f5f91}
.vimspectr120-dark #col0F{color:#996673}
.vimspectr120-dark #col0A{color:#0a1a0a}
.vimspectr120-light #theme::before{content:"vimspectr120-light"}
.vimspectr120-light {background:#f5fff5}
.vimspectr120-light #ui{border-left-color:#ddebdd}
.vimspectr120-light #comment{color:#709170}
.vimspectr120-light #github a{color:#709170}
.vimspectr120-light #ui{border-bottom-color:#4f734f}
.vimspectr120-light {color:#4f734f}
.vimspectr120-light #col08{color:#e8361c}
.vimspectr120-light #col09{color:#eb6b21}
.vimspectr120-light #col0A{background:#f2c027}
.vimspectr120-light #col0B{color:#1b942b}
.vimspectr120-light #col0C{color:#2aa694}
.vimspectr120-light #col0D{color:#3986b3}
.vimspectr120-light #col0E{color:#9c45cc}
.vimspectr120-light #col0F{color:#e05579}
.vimspectr120-light #col0A{color:#173017}
.vimspectr150-dark #theme::before{content:"vimspectr150-dark"}
.vimspectr150-dark {background:#0a1a12}
.vimspectr150-dark #ui{border-left-color:#162e22}
.vimspectr150-dark #comment{color:#4f7361}
.vimspectr150-dark #github a{color:#4f7361}
.vimspectr150-dark #ui{border-bottom-color:#6e8f7e}
.vimspectr150-dark {color:#6e8f7e}
.vimspectr150-dark #col08{color:#9c564c}
.vimspectr150-dark #col09{color:#9e6d50}
.vimspectr150-dark #col0A{background:#a18e53}
.vimspectr150-dark #col0B{color:#407547}
.vimspectr150-dark #col0C{color:#4a7d76}
.vimspectr150-dark #col0D{color:#547385}
.vimspectr150-dark #col0E{color:#7f5f91}
.vimspectr150-dark #col0F{color:#996673}
.vimspectr150-dark #col0A{color:#0a1a12}
.vimspectr150-light #theme::before{content:"vimspectr150-light"}
.vimspectr150-light {background:#f5fffa}
.vimspectr150-light #ui{border-left-color:#ddebe4}
.vimspectr150-light #comment{color:#6e8f7e}
.vimspectr150-light #github a{color:#6e8f7e}
.vimspectr150-light #ui{border-bottom-color:#4f7361}
.vimspectr150-light {color:#4f7361}
.vimspectr150-light #col08{color:#e8361c}
.vimspectr150-light #col09{color:#eb6b21}
.vimspectr150-light #col0A{background:#f2c027}
.vimspectr150-light #col0B{color:#1b942b}
.vimspectr150-light #col0C{color:#2aa694}
.vimspectr150-light #col0D{color:#3986b3}
.vimspectr150-light #col0E{color:#9c45cc}
.vimspectr150-light #col0F{color:#e05579}
.vimspectr150-light #col0A{color:#162e22}
.vimspectr180-dark #theme::before{content:"vimspectr180-dark"}
.vimspectr180-dark {background:#091717}
.vimspectr180-dark #ui{border-left-color:#162e2e}
.vimspectr180-dark #comment{color:#4d7070}
.vimspectr180-dark #github a{color:#4d7070}
.vimspectr180-dark #ui{border-bottom-color:#6e8f8f}
.vimspectr180-dark {color:#6e8f8f}
.vimspectr180-dark #col08{color:#9c564c}
.vimspectr180-dark #col09{color:#9e6d50}
.vimspectr180-dark #col0A{background:#a18e53}
.vimspectr180-dark #col0B{color:#407547}
.vimspectr180-dark #col0C{color:#4a7d76}
.vimspectr180-dark #col0D{color:#547385}
.vimspectr180-dark #col0E{color:#7f5f91}
.vimspectr180-dark #col0F{color:#996673}
.vimspectr180-dark #col0A{color:#091717}
.vimspectr180-light #theme::before{content:"vimspectr180-light"}
.vimspectr180-light {background:#f5ffff}
.vimspectr180-light #ui{border-left-color:#ddebeb}
.vimspectr180-light #comment{color:#6e8f8f}
.vimspectr180-light #github a{color:#6e8f8f}
.vimspectr180-light #ui{border-bottom-color:#4d7070}
.vimspectr180-light {color:#4d7070}
.vimspectr180-light #col08{color:#e8361c}
.vimspectr180-light #col09{color:#eb6b21}
.vimspectr180-light #col0A{background:#f2c027}
.vimspectr180-light #col0B{color:#1b942b}
.vimspectr180-light #col0C{color:#2aa694}
.vimspectr180-light #col0D{color:#3986b3}
.vimspectr180-light #col0E{color:#9c45cc}
.vimspectr180-light #col0F{color:#e05579}
.vimspectr180-light #col0A{color:#162e2e}
.vimspectr210-dark #theme::before{content:"vimspectr210-dark"}
.vimspectr210-dark {background:#0d1721}
.vimspectr210-dark #ui{border-left-color:#1a2938}
.vimspectr210-dark #comment{color:#566a7d}
.vimspectr210-dark #github a{color:#566a7d}
.vimspectr210-dark #ui{border-bottom-color:#768799}
.vimspectr210-dark {color:#768799}
.vimspectr210-dark #col08{color:#9c564c}
.vimspectr210-dark #col09{color:#9e6d50}
.vimspectr210-dark #col0A{background:#a18e53}
.vimspectr210-dark #col0B{color:#407547}
.vimspectr210-dark #col0C{color:#4a7d76}
.vimspectr210-dark #col0D{color:#547385}
.vimspectr210-dark #col0E{color:#7f5f91}
.vimspectr210-dark #col0F{color:#996673}
.vimspectr210-dark #col0A{color:#0d1721}
.vimspectr210-light #theme::before{content:"vimspectr210-light"}
.vimspectr210-light {background:#f5faff}
.vimspectr210-light #ui{border-left-color:#dde4eb}
.vimspectr210-light #comment{color:#768799}
.vimspectr210-light #github a{color:#768799}
.vimspectr210-light #ui{border-bottom-color:#566a7d}
.vimspectr210-light {color:#566a7d}
.vimspectr210-light #col08{color:#e8361c}
.vimspectr210-light #col09{color:#eb6b21}
.vimspectr210-light #col0A{background:#f2c027}
.vimspectr210-light #col0B{color:#1b942b}
.vimspectr210-light #col0C{color:#2aa694}
.vimspectr210-light #col0D{color:#3986b3}
.vimspectr210-light #col0E{color:#9c45cc}
.vimspectr210-light #col0F{color:#e05579}
.vimspectr210-light #col0A{color:#1a2938}
.vimspectr240-dark #theme::before{content:"vimspectr240-dark"}
.vimspectr240-dark {background:#121230}
.vimspectr240-dark #ui{border-left-color:#222247}
.vimspectr240-dark #comment{color:#63638f}
.vimspectr240-dark #github a{color:#63638f}
.vimspectr240-dark #ui{border-bottom-color:#8282a8}
.vimspectr240-dark {color:#8282a8}
.vimspectr240-dark #col08{color:#9c564c}
.vimspectr240-dark #col09{color:#9e6d50}
.vimspectr240-dark #col0A{background:#a18e53}
.vimspectr240-dark #col0B{color:#407547}
.vimspectr240-dark #col0C{color:#4a7d76}
.vimspectr240-dark #col0D{color:#547385}
.vimspectr240-dark #col0E{color:#7f5f91}
.vimspectr240-dark #col0F{color:#996673}
.vimspectr240-dark #col0A{color:#121230}
.vimspectr240-light #theme::before{content:"vimspectr240-light"}
.vimspectr240-light {background:#f5f5ff}
.vimspectr240-light #ui{border-left-color:#dfdfed}
.vimspectr240-light #comment{color:#8282a8}
.vimspectr240-light #github a{color:#8282a8}
.vimspectr240-light #ui{border-bottom-color:#63638f}
.vimspectr240-light {color:#63638f}
.vimspectr240-light #col08{color:#e8361c}
.vimspectr240-light #col09{color:#eb6b21}
.vimspectr240-light #col0A{background:#f2c027}
.vimspectr240-light #col0B{color:#1b942b}
.vimspectr240-light #col0C{color:#2aa694}
.vimspectr240-light #col0D{color:#3986b3}
.vimspectr240-light #col0E{color:#9c45cc}
.vimspectr240-light #col0F{color:#e05579}
.vimspectr240-light #col0A{color:#222247}
.vimspectr270-dark #theme::before{content:"vimspectr270-dark"}
.vimspectr270-dark {background:#1c1029}
.vimspectr270-dark #ui{border-left-color:#311f42}
.vimspectr270-dark #comment{color:#745f8a}
.vimspectr270-dark #github a{color:#745f8a}
.vimspectr270-dark #ui{border-bottom-color:#907ea3}
.vimspectr270-dark {color:#907ea3}
.vimspectr270-dark #col08{color:#9c564c}
.vimspectr270-dark #col09{color:#9e6d50}
.vimspectr270-dark #col0A{background:#a18e53}
.vimspectr270-dark #col0B{color:#407547}
.vimspectr270-dark #col0C{color:#4a7d76}
.vimspectr270-dark #col0D{color:#547385}
.vimspectr270-dark #col0E{color:#7f5f91}
.vimspectr270-dark #col0F{color:#996673}
.vimspectr270-dark #col0A{color:#1c1029}
.vimspectr270-light #theme::before{content:"vimspectr270-light"}
.vimspectr270-light {background:#faf5ff}
.vimspectr270-light #ui{border-left-color:#e6dfed}
.vimspectr270-light #comment{color:#907ea3}
.vimspectr270-light #github a{color:#907ea3}
.vimspectr270-light #ui{border-bottom-color:#745f8a}
.vimspectr270-light {color:#745f8a}
.vimspectr270-light #col08{color:#e8361c}
.vimspectr270-light #col09{color:#eb6b21}
.vimspectr270-light #col0A{background:#f2c027}
.vimspectr270-light #col0B{color:#1b942b}
.vimspectr270-light #col0C{color:#2aa694}
.vimspectr270-light #col0D{color:#3986b3}
.vimspectr270-light #col0E{color:#9c45cc}
.vimspectr270-light #col0F{color:#e05579}
.vimspectr270-light #col0A{color:#311f42}
.vimspectr300-dark #theme::before{content:"vimspectr300-dark"}
.vimspectr300-dark {background:#240e24}
.vimspectr300-dark #ui{border-left-color:#3b1c3b}
.vimspectr300-dark #comment{color:#825a82}
.vimspectr300-dark #github a{color:#825a82}
.vimspectr300-dark #ui{border-bottom-color:#9e7a9e}
.vimspectr300-dark {color:#9e7a9e}
.vimspectr300-dark #col08{color:#9c564c}
.vimspectr300-dark #col09{color:#9e6d50}
.vimspectr300-dark #col0A{background:#a18e53}
.vimspectr300-dark #col0B{color:#407547}
.vimspectr300-dark #col0C{color:#4a7d76}
.vimspectr300-dark #col0D{color:#547385}
.vimspectr300-dark #col0E{color:#7f5f91}
.vimspectr300-dark #col0F{color:#996673}
.vimspectr300-dark #col0A{color:#240e24}
.vimspectr300-light #theme::before{content:"vimspectr300-light"}
.vimspectr300-light {background:#fff5ff}
.vimspectr300-light #ui{border-left-color:#eddfed}
.vimspectr300-light #comment{color:#9e7a9e}
.vimspectr300-light #github a{color:#9e7a9e}
.vimspectr300-light #ui{border-bottom-color:#825a82}
.vimspectr300-light {color:#825a82}
.vimspectr300-light #col08{color:#e8361c}
.vimspectr300-light #col09{color:#eb6b21}
.vimspectr300-light #col0A{background:#f2c027}
.vimspectr300-light #col0B{color:#1b942b}
.vimspectr300-light #col0C{color:#2aa694}
.vimspectr300-light #col0D{color:#3986b3}
.vimspectr300-light #col0E{color:#9c45cc}
.vimspectr300-light #col0F{color:#e05579}
.vimspectr300-light #col0A{color:#3b1c3b}
.vimspectr330-dark #theme::before{content:"vimspectr330-dark"}
.vimspectr330-dark {background:#260f1a}
.vimspectr330-dark #ui{border-left-color:#3d1d2d}
.vimspectr330-dark #comment{color:#855b70}
.vimspectr330-dark #github a{color:#855b70}
.vimspectr330-dark #ui{border-bottom-color:#a17c8e}
.vimspectr330-dark {color:#a17c8e}
.vimspectr330-dark #col08{color:#9c564c}
.vimspectr330-dark #col09{color:#9e6d50}
.vimspectr330-dark #col0A{background:#a18e53}
.vimspectr330-dark #col0B{color:#407547}
.vimspectr330-dark #col0C{color:#4a7d76}
.vimspectr330-dark #col0D{color:#547385}
.vimspectr330-dark #col0E{color:#7f5f91}
.vimspectr330-dark #col0F{color:#996673}
.vimspectr330-dark #col0A{color:#260f1a}
.vimspectr330-light #theme::before{content:"vimspectr330-light"}
.vimspectr330-light {background:#fff5fa}
.vimspectr330-light #ui{border-left-color:#eddfe6}
.vimspectr330-light #comment{color:#a17c8e}
.vimspectr330-light #github a{color:#a17c8e}
.vimspectr330-light #ui{border-bottom-color:#855b70}
.vimspectr330-light {color:#855b70}
.vimspectr330-light #col08{color:#e8361c}
.vimspectr330-light #col09{color:#eb6b21}
.vimspectr330-light #col0A{background:#f2c027}
.vimspectr330-light #col0B{color:#1b942b}
.vimspectr330-light #col0C{color:#2aa694}
.vimspectr330-light #col0D{color:#3986b3}
.vimspectr330-light #col0E{color:#9c45cc}
.vimspectr330-light #col0F{color:#e05579}
.vimspectr330-light #col0A{color:#3d1d2d}
.vimspectrgrey-dark #theme::before{content:"vimspectrgrey-dark"}
.vimspectrgrey-dark {background:#141414}
.vimspectrgrey-dark #ui{border-left-color:#2b2b2b}
.vimspectrgrey-dark #comment{color:#6b6b6b}
.vimspectrgrey-dark #github a{color:#6b6b6b}
.vimspectrgrey-dark #ui{border-bottom-color:#8a8a8a}
.vimspectrgrey-dark {color:#8a8a8a}
.vimspectrgrey-dark #col08{color:#9c564c}
.vimspectrgrey-dark #col09{color:#9e6d50}
.vimspectrgrey-dark #col0A{background:#a18e53}
.vimspectrgrey-dark #col0B{color:#407547}
.vimspectrgrey-dark #col0C{color:#4a7d76}
.vimspectrgrey-dark #col0D{color:#547385}
.vimspectrgrey-dark #col0E{color:#7f5f91}
.vimspectrgrey-dark #col0F{color:#996673}
.vimspectrgrey-dark #col0A{color:#141414}
.vimspectrgrey-light #theme::before{content:"vimspectrgrey-light"}
.vimspectrgrey-light {background:#ffffff}
.vimspectrgrey-light #ui{border-left-color:#e8e8e8}
.vimspectrgrey-light #comment{color:#8a8a8a}
.vimspectrgrey-light #github a{color:#8a8a8a}
.vimspectrgrey-light #ui{border-bottom-color:#6b6b6b}
.vimspectrgrey-light {color:#6b6b6b}
.vimspectrgrey-light #col08{color:#e8361c}
.vimspectrgrey-light #col09{color:#eb6b21}
.vimspectrgrey-light #col0A{background:#f2c027}
.vimspectrgrey-light #col0B{color:#1b942b}
.vimspectrgrey-light #col0C{color:#2aa694}
.vimspectrgrey-light #col0D{color:#3986b3}
.vimspectrgrey-light #col0E{color:#9c45cc}
.vimspectrgrey-light #col0F{color:#e05579}
.vimspectrgrey-light #col0A{color:#2b2b2b}
